:root {
  --cgRed: #cd4b34;
  --cgGreen: #8fb8b7;
  --cgGray: #ada9a7;
  --cgBlack: #1f1f1f;
  --cgTan: #af9070;
  --cgWhite: #ffffff;

  --cg12Gutter: 32px;
  --cg12Margin: 40px;
}

.project__paragraph {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.project__paragraph p {
  margin-left: calc(var(--cg12Gutter) * -1);
  border-left: 1px solid var(--cgBlack);
  font-size: 16px;
  line-height: 20px;
}

.project__paragraph p.up {
  grid-column-start: 4;
  grid-column-end: 11;
  padding: 75px var(--cg12Gutter) 0 var(--cg12Gutter);
}

.project__paragraph p.down {
  grid-column-start: 2;
  grid-column-end: 8;
  padding: 0 var(--cg12Gutter) 75px var(--cg12Gutter);
}
