/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-todo-list {
	border: 1px dotted #f00;
}

.project__imagePair {
	background-color: red;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
