/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 :root{
	 --cgOverlap: 48px;
 }

.project__pairRight{
	margin-top: -50px;
	margin-left: 0;
	margin-right: 0;
	padding-left: var(--cg12Margin);
	padding-right: var(--cg12Margin);
}

.project__pairLeft{
	margin-left: 0;
	margin-right: 0;
	padding-left: var(--cg12Margin);
	padding-right: var(--cg12Margin);
}

@media screen and (min-width: 700px) {

	.project__pairRight{
		padding: unset;
		margin: unset;
	}

	.project__pairLeft{
		padding: unset;
		margin: unset;
	}

	.project__imagePair {
		display: grid;
		margin-bottom: 100px;
		grid-template-columns: 1fr 1fr;
		
	} 

	.single-project .project__imagePair,
	.single-et .project__imagePair {
		padding-left: var(--cg12Margin);
		padding-right: var(--cg12Margin);
	}

	.project__imagePair.option3 {
		grid-template-columns: 3fr 9fr;
	}

	.project__imagePair.option4 {
		grid-template-columns: 4fr 8fr;
	}

	.project__imagePair.option6 {
		grid-template-columns: 6fr 6fr;
	}

	.project__imagePair.option8 {
		grid-template-columns: 8fr 4fr;
	}

	.project__imagePair.option9 {
		grid-template-columns: 9fr 3fr;
	}

	.project__imagePair .project__pairLeft {
		margin-right: calc(var(--cgOverlap) * -0.5);
	}
	
	.project__imagePair .project__pairRight {
		margin-left: calc(var(--cgOverlap) * -0.5);
	}
	
	.project__imagePair img {
		margin: auto;
	}
	
	.project__pairLeft img{
		margin-right: 0;
	}
	
	.project__pairRight img{
		margin-left: 0;
	}

}
// .project__imagePair + .project__imagePair,
// .block + .project__imagePair,
// .project__imagePair + .block {
// 	margin-top: 0px;
// 	// mix-blend-mode: multiply;
// 	/* margin-top: cal(-1 * var(--cg12Margin)); */
// }

.project__imagePair .project__pairLeft,
.project__imagePair .project__pairRight {
	display: grid;
	mix-blend-mode: multiply;
}



