/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

:root {
	--cgRed: #cd4b34;
	--cgGreen: #8fb8b7;
	--cgGray: #ada9a7;
	--cgBlack: #1f1f1f;
	--cgTan: #af9070;
	--cgWhite: #ffffff;

	--cg12Gutter: 32px;
	--cg12Margin: 40px;
}

.chu_gooding__featured-project {
	padding: 0 var(--cg12Margin);
	min-height: 40vh;
	display: grid;
}

.chu_gooding__featured-project .components-placeholder{
	margin: auto;
}

.chu_gooding__featured-project img {
	max-height: 80vh;
	display: block;
	margin: auto;
}

.chu_gooding__featured-project + .chu_gooding__featured-project {
	margin-top: calc(-1 * var(--cg12Margin));
	mix-blend-mode: multiply;
}

.chu_gooding__featured-project.red {
	background-color: var(--cgRed);
}

.chu_gooding__featured-project.tan {
	background-color: var(--cgTan);
}

.chu_gooding__featured-project.green {
	background-color: var(--cgGreen);
}

.chu_gooding__featured-project.gray {
	background-color: var(--cgGray);
}

.chu_gooding__featured-project.black {
	background-color: var(--cgBlack);
}

.chu_gooding__featured-project.white {
	background-color: var(--cgWhite);
}

.chu_gooding__featured-project a.chu_gooding__featured-link{
	color: var(--cgBlack);
	text-decoration: none;

	display: grid;
	margin: auto;
	max-height: 556px;
	max-width: 78vw;
}

.chu_gooding__featured-project.white .chu_gooding__featured-link {
	color: var(--cgRed);
}

.chu_gooding__featured-project.white:hover .chu_gooding__featured-link {
	color: var(--cgBlack);
}

.chu_gooding__featured-project a.chu_gooding__featured-link:hover{
	color: var(--cgWhite);
}

.chu_gooding__featured-project:hover a.chu_gooding__featured-link{
	color: var(--cgWhite);
}

.chu_gooding__featured-project h1.chu_gooding__featured-title{
	font-style: normal;
	font-weight: normal;
	font-size: 99.4286px;
	line-height: 116px;

	text-align: center;
	margin: auto;
	padding: 0;
}




// .chu_gooding__featured-title {
// 	padding: 3em;
// 	text-align: center;
// }




.tns-item > .chu_gooding__featured-project{
	min-width: calc(100% - 80px);;
	min-height: 100%;
	// background-color: var(--cgGray);
}

.tns-outer + .chu_gooding__featured-project {
	margin-top: calc(-1 * var(--cg12Margin));
	mix-blend-mode: multiply;
}

.chu_gooding__featured-project + .tns-outer{
	margin-top: calc(-1 * var(--cg12Margin));
	mix-blend-mode: multiply;
}