/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

:root {
	--cgRed: #cd4b34;
	--cgGreen: #8fb8b7;
	--cgGray: #ada9a7;
	--cgBlack: #1f1f1f;
	--cgTan: #af9070;
	--cgWhite: #ffffff;

	--cg12Gutter: 32px;
	--cg12Margin: 40px;
}

.chu_gooding__featured-project {
	padding: 0 var(--cg12Margin);
}

.chu_gooding__featured-project img {
	max-height: 80vh;
	display: block;
	margin: auto;
}

.chu_gooding__featured-project + .chu_gooding__featured-project {
	margin-top: calc(-1 * var(--cg12Margin));
	mix-blend-mode: multiply;
}

.chu_gooding__featured-project.red {
	background-color: var(--cgRed);
}

.chu_gooding__featured-project.tan {
	background-color: var(--cgTan);
}

.chu_gooding__featured-project.green {
	background-color: var(--cgGreen);
}

.chu_gooding__featured-project.gray {
	background-color: var(--cgGray);
}

.chu_gooding__featured-project.black {
	background-color: var(--cgBlack);
}

.chu_gooding__featured-project.white {
	background-color: var(--cgWhite);
}

.chu_gooding__featured-link {
	text-decoration: none;
	color: var(--cgWhite);
}

.chu_gooding__featured-project.white .chu_gooding__featured-link {
	color: var(--cgRed);
}

.chu_gooding__featured-title {
	padding: 3em;
	text-align: center;
}
